<section class="py-24">
    <section class="relative container">
        <article class="grid-section">
            <div class="max-md:col-span-12 max-lg:col-span-8  col-start-1 col-end-5">
                <h3>
                    2012
                </h3>

                <p class="mt-4">
                    Notre père nous immortalise sur les quais de Bordeaux.<br>
                    Ma sœur et moi sommes encore des <span class="italic">bout d'choux</span>, pour une fois je ne fais
                    pas
                    de
                    grimaces.
                </p>
                <p class="mt-4">
                    Le temps est couvert, il fait frais. <span
                        class="italic">En avril ne te découvre pas d'un fil.</span><br>
                    Nous nous asseyons devant le mur de Cap Science, endroit où j'ai découvert les lego Mindstorm.
                </p>
            </div>

            <div class="beforeAfter relative max-lg:col-span-12  col-start-7 col-end-13 aspect-landscape mt-0">
                <div class="before absolute w-full h-full inset-0 object-cover">
                    {{ partial "image" (dict
                    "img" "img/2012/both-landscape-wall.jpg"
                    "opt" (dict
                    "size" "800x"
                    )
                    )}}
                </div>
                <div class="after opacity-0 absolute w-full h-full inset-0 object-cover">
                    {{ partial "image" (dict
                    "img" "img/2022/both-landscape-wall.jpg"
                    "opt" (dict
                    "size" "800x"
                    )
                    )}}
                </div>
            </div>
        </article>
    </section>
</section>

<section class="py-24">
    <section class="container grid-section">
        <div class="beforeAfter col-start-1 col-end-7 lg:col-start-2 lg:col-end-5 relative aspect-portrait mt-6"
             data-speed="0.9">
            <div class="before absolute w-full h-full inset-0 object-cover">
                {{ partial "image" (dict
                "img" "img/2012/romane-portrait-wall.jpg"
                "opt" (dict
                "size" "800x"
                )
                )}}
            </div>
            <div class="after opacity-0 absolute w-full h-full inset-0 object-cover">
                {{ partial "image" (dict
                "img" "img/2022/romane-portrait-wall.jpg"
                "opt" (dict
                "size" "800x"
                )
                )}}
            </div>
        </div>
        <div class="beforeAfter row-start-2 col-start-7 col-end-13 lg:col-start-9 lg:col-end-12 relative aspect-portrait"
             data-speed="1.3">
            <div class="before absolute w-full h-full inset-0 object-cover">
                {{ partial "image" (dict
                "img" "img/2012/arthaud-portrait-wall.jpg"
                "opt" (dict
                "size" "800x"
                )
                )}}
            </div>
            <div class="after opacity-0 absolute w-full h-full inset-0 object-cover">
                {{ partial "image" (dict
                "img" "img/2022/arthaud-portrait-wall.jpg"
                "opt" (dict
                "size" "800x"
                )
                )}}
            </div>
        </div>
    </section>
</section>