<section class="py-24">
    <section class="relative container">
        <article class="grid-section">
            <div class="max-md:col-span-12 max-lg:col-span-8  col-start-8 col-end-13">
                <p>
                    Puis, nous voguons sur le quai des marques. La rambarde en bois fait tout le long des quais. Je me
                    demande encore aujourd'hui combien de temps il a fallu pour l'installer.
                </p>
                <p class="mt-4">
                    J'aime escalader, braver l'interdit. Je m'assois sur cette rambarde et notre père me prend en photo.
                    Ma sœur me rejoint ensuite et il prend une photo de nous deux.
                </p>
            </div>

            <div class="beforeAfter relative max-lg:col-span-12  col-start-1 col-end-7 row-start-1  aspect-landscape mt-0"
                 data-speed="0.9">
                <div class="before absolute w-full h-full inset-0 object-cover">
                    {{ partial "image" (dict
                    "img" "img/2012/arthaud-landscape-on-barrier.jpg"
                    "opt" (dict
                    "size" "800x"
                    "sizes" "40vw"
                    "alt" "Arthaud sur de la rambarde des quais en 2012"
                    )
                    )}}
                </div>
                <div class="after opacity-0 absolute w-full h-full inset-0 object-cover">
                    {{ partial "image" (dict
                    "img" "img/2022/arthaud-landscape-on-barrier.jpg"
                    "opt" (dict
                    "size" "800x"
                    "sizes" "40vw"
                    "alt" "Arthaud sur de la rambarde des quais en 2022"
                    )
                    )}}
                </div>
            </div>
        </article>
    </section>
</section>

<section class="py-24">
    <section class="container grid-section">
        <div class="beforeAfter col-start-7 col-end-13 lg:col-start-9 lg:col-end-12 relative aspect-portrait mt-6"
             data-speed="1">
            <div class="before absolute w-full h-full inset-0 object-cover">
                {{ partial "image" (dict
                "img" "img/2012/both-portrait-on-barrier.jpg"
                "opt" (dict
                "size" "800x"
                "sizes" "25vw"
                "alt" "Arthaud et Romane sur de la rambarde des quais en 2012"
                )
                )}}
            </div>
            <div class="after opacity-0 absolute w-full h-full inset-0 object-cover">
                {{ partial "image" (dict
                "img" "img/2022/both-portrait-on-barrier.jpg"
                "opt" (dict
                "size" "800x"
                "sizes" "25vw"
                "alt" "Arthaud et Romane sur de la rambarde des quais en 2022"
                )
                )}}
            </div>
        </div>
        <div class="beforeAfter row-start-2 col-start-4 col-end-10 lg:col-start-5 lg:col-end-9 relative aspect-portrait"
             data-speed="0.8">
            <div class="before absolute w-full h-full inset-0 object-cover">
                {{ partial "image" (dict
                "img" "img/2012/romane-portrait-on-barrier.jpg"
                "opt" (dict
                "size" "800x"
                "sizes" "25vw"
                "alt" "Romane sur de la rambarde des quais en 2012"
                )
                )}}
            </div>
            <div class="after opacity-0 absolute w-full h-full inset-0 object-cover">
                {{ partial "image" (dict
                "img" "img/2022/romane-portrait-on-barrier.jpg"
                "opt" (dict
                "size" "800x"
                "sizes" "25vw"
                "alt" "Romane sur de la rambarde des quais en 2022"
                )
                )}}
            </div>
        </div>
        <div class="beforeAfter row-start-3 col-start-1 col-end-7 lg:col-start-2 lg:col-end-5 relative aspect-portrait"
             data-speed="1">
            <div class="before absolute w-full h-full inset-0 object-cover">
                {{ partial "image" (dict
                "img" "img/2012/both-portrait-aside-barrier.jpg"
                "opt" (dict
                "size" "800x"
                "sizes" "25vw"
                "alt" "Arthaud et Romane à côté de la rambarde des quais en 2012"
                )
                )}}
            </div>
            <div class="after opacity-0 absolute w-full h-full inset-0 object-cover">
                {{ partial "image" (dict
                "img" "img/2022/both-portrait-aside-barrier.jpg"
                "opt" (dict
                "size" "800x"
                "sizes" "25vw"
                "alt" "Arthaud et Romane à côté de la rambarde des quais en 2022"
                )
                )}}
            </div>
        </div>
    </section>
</section>