<section class="intro relative h-[400vh] flex flex-col justify-center bg-primary overflow-hidden">
    <div class="floating-image overflow-hidden absolute left-[10%] top-[15%] w-[20%]" data-speed="0.6">
        {{ partial "image" (dict
        "img" "img/2022/both-portrait-aside-barrier.jpg"
        "opt" (dict
        "size" "300x"
        "sizes" "20vw"
        "loading" "eager"
        "alt" "Arthaud et Romane à coté de la rambarde des quais en 2022"
        )
        )}}
    </div>
    <div class="floating-image overflow-hidden absolute right-[10%] top-[30%] w-[40%]" data-speed="0.9">
        {{ partial "image" (dict
        "img" "img/2012/romane-portrait-on-barrier.jpg"
        "opt" (dict
        "size" "600x"
        "sizes" "40vw"
        "loading" "eager"
        "alt" "Romane sur la rambarde des quais en 2012"
        )
        )}}
    </div>
    <div class="z-20 floating-image overflow-hidden absolute left-[5%] top-[40%] w-[50%]" data-speed="0.8">
        {{ partial "image" (dict
        "img" "img/2012/both-landscape-wall.jpg"
        "opt" (dict
        "size" "1000x"
        "sizes" "60vw"
        "loading" "eager"
        "alt" "Arthaud et Romane cote-à-cote devant un mur de Cap Science sur les quais en 2012"
        )
        )}}
    </div>

    <div class="z-20 floating-image overflow-hidden absolute -translate-x-1/2 left-[50%] top-[90%] w-[25%] md:w-[15%]"
         data-speed="0.4">
        {{ partial "image" (dict
        "img" "img/2012/both-portrait-front-of-bridge.jpg"
        "opt" (dict
        "size" "400x"
        "sizes" "20vw"
        "loading" "eager"
        "alt" "Arthaud et Romane assis sur la rambarde des quais en 2012, le pont Chaban-Delmas est visible en fond"
        )
        )}}
    </div>

    <h1 class="intro-text text-center z-10 text-secondary opacity-0 pointer-events-none" data-speed="0.05">
        <span>Une sœur</span><br>
        <span><span class="italic">&</span> un frere</span>
    </h1>
</section>