<section class="intro relative h-screen flex flex-col justify-center bg-primary">
    <div class="floating-image absolute left-[10%] top-[15%] w-[20%]" data-s="0.2">
        {{ partial "image" (dict
        "img" "img/2022/both-portrait-aside-barrier.jpg"
        "opt" (dict
        "size" "300x"
        "sizes" "20vw"
        "loading" "eager"
        "alt" "Arthaud et Romane à coté de la rambarde des quais en 2022"
        )
        )}}
    </div>
    <div class="floating-image absolute right-[10%] top-[50%] w-[40%]" data-s="0.5">
        {{ partial "image" (dict
        "img" "img/2012/romane-portrait-on-barrier.jpg"
        "opt" (dict
        "size" "600x"
        "sizes" "40vw"
        "loading" "eager"
        "alt" "Romane sur la rambarde des quais en 2012"
        )
        )}}
    </div>
    <div class="z-20 floating-image absolute left-[5%] top-[90%] w-[60%]" data-s="1.1">
        {{ partial "image" (dict
        "img" "img/2012/both-landscape-wall.jpg"
        "opt" (dict
        "size" "1000x"
        "sizes" "60vw"
        "loading" "eager"
        "alt" "Arthaud et Romane cote-à-cote devant un mur de Cap Science sur les quais en 2012"
        )
        )}}
    </div>

    <div class="z-20 floating-image absolute -translate-x-1/2 left-[50%] top-[120%] w-[25%] md:w-[15%]" data-grow="2"
         data-s="0.3">
        {{ partial "image" (dict
        "img" "img/2012/both-portrait-front-of-bridge.jpg"
        "opt" (dict
        "size" "400x"
        "sizes" "20vw"
        "loading" "eager"
        "alt" "Arthaud et Romane assis sur la rambarde des quais en 2012, le pont Chaban-Delmas est visible en fond"
        )
        )}}
    </div>

    <h1 class="intro-text text-center z-10 mix-blend-difference">
        <span>Une sœur</span><br>
        <span><span class="italic">&</span> un frere</span>
    </h1>
</section>