<section class="py-24 mb-24 overflow-hidden">
    <section class="zoom relative h-screen flex flex-col justify-center container max-md:p-0">
        <div class="max-md:h-screen object-cover z-10">
            {{ partial "image" (dict
            "img" "img/2012/both-landscape-tourniquet.jpg"
            "opt" (dict
            "size" "1600x"
            )
            )}}
        </div>
        <h2 class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-center text-primary">
            Tous les dix ans
        </h2>
    </section>
</section>