<!DOCTYPE html>
<html class="scroll-smooth" lang="fr">
<head prefix="og: http://ogp.me/ns#">
    {{- partial "head.html" . -}}

    {{ block "pageHead" . }}
    {{ end }}

    {{ block "seoRobots" . }}
    <meta content="all" name="robots">
    {{ end }}

    {{ partial "seo" . }}

    {{ block "seoHero" . }}
    {{$heroUrl := printf "%s%s" .Site.Params.seo.url .Site.Params.seo.hero }}
    <meta content="{{ $heroUrl }}" name="twitter:image"/>
    <meta content="{{ $heroUrl }}" property="og:image"/>
    {{ end }}

    {{ block "seoTitle" . }}
    {{ $title := .Site.Params.seo.title }}
    {{ if .Title }}
    {{ $title = .Title}}
    {{ end }}
    <title>{{ $title }}</title>
    <meta content="{{ $title }}" name="twitter:title"/>
    <meta content="{{ $title }}" property="og:title"/>
    <meta content="{{ $title }}" name="apple-mobile-web-app-title"/>
    {{ end }}

    {{ block "seoDescription" . }}
    {{ $description := .Site.Params.seo.desc }}
    {{ if .Description }}
    {{ $description = .Description}}
    {{ end }}
    <meta content="{{ $description }}" name="description"/>
    <meta content="{{ $description }}" property="og:description"/>
    <meta content="{{ $description }}" name="twitter:description"/>
    {{ end }}
</head>
<body class="bg-secondary font-sans text-primary text-xl cursor-none">
<div id="smooth-wrapper">
    <div id="smooth-content">
        <div class="min-h-screen">
            {{- partial "header" . -}}

            <main>
                {{ partial "load" . }}
                {{- block "main" . }}{{- end }}
            </main>
        </div>

        {{- partial "footer" . -}}
    </div>

    {{- partial "scroll-hint" . -}}
    {{- partial "cursor" . -}}
</div>
</body>
</html>