<div class="md:text-right">
    <p>
        Analyse <a href="https://www.websitecarbon.com/" target="_blank" rel="noopener">Website Carbon</a>
    </p>
    <p>
        <span id="carbon-co2">Chargement...</span>
    </p>
    <p class="italic" id="carbon-result"></p>

    <script>
        const urlToFetch = "https://api.websitecarbon.com/b?url=";
        const wcU = encodeURIComponent('https://sista.arthaud.dev/')
        const carbonCo2 = document.getElementById('carbon-co2');
        const carbonResult = document.getElementById('carbon-result');

        async function fetchCarbonResult() {
            try {
                const response = await fetch(urlToFetch + wcU);
                const json = await response.json();

                renderResult(json);

                json.t = new Date().getTime()
                localStorage.setItem('wcb_' + wcU, JSON.stringify(json))
            } catch (e) {
                carbonCo2.innerText = "";
                carbonResult.innerText = `Impossible de récupérer les résultats`;

                console.error(e)
            }
        }

        function renderResult(result) {
            carbonCo2.innerText = `${result.c}g de CO2/visite`;
            carbonResult.innerText = `Plus léger que ${result.p}% des pages testées`;
        }

        function displayCarbonResult() {
            const cachedResponse = localStorage.getItem('wcb_' + wcU)
            const todayTimestamp = new Date().getTime()
            const dayTimestamp = 86400000;

            if (!cachedResponse) {
                fetchCarbonResult()
                return;
            }

            const json = JSON.parse(cachedResponse)

            renderResult(json)

            const timeSinceLastRequest = todayTimestamp - json.t;
            if (timeSinceLastRequest > dayTimestamp) {
                fetchCarbonResult()
            }
        }

        if ('fetch' in window) {
            displayCarbonResult();
        }
    </script>
</div>
