<div id="cursor1"
     class="opacity-0 max-md:hidden fixed top-0 left-0 z-50 mix-blend-difference pointer-events-none">
    <div class="absolute top-0 left-0 h-10 -translate-x-1/2 -translate-y-1/2 aspect-square bg-primary pointer-events-none"></div>
</div>
<div id="cursor2"
     class="opacity-0 max-md:hidden fixed top-0 left-0 z-50 mix-blend-difference pointer-events-none">
    <div class="absolute top-0 left-0 h-10 -translate-x-1/2 -translate-y-1/2 aspect-square bg-primary pointer-events-none"></div>
</div>