<footer class="py-16">
    <section
            class="container flex flex-col gap-6 md:flex-row justify-between items-center max-md:text-center md:items-start">
        <div>
            <p>Design et développement par <a href="https://arthaudproust.fr" rel="noopener" target="_blank">Arthaud
                Proust</a></p>
            <p>Photos par <a href="https://lubbockphotos.com" rel="noopener" target="_blank">Sébastien Proust</a></p>
        </div>

        <div class="carbonbadge wcb-d" id="wcb"></div>
    </section>
    <script defer src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js"></script>
</footer>