<!--@formatter:off-->
{{ $img := resources.Get .img }}
{{ $opt := .opt }}
{{ if $img }}
    {{ if $opt.size }}
        {{ $imageResized := $img.Resize $opt.size }}
        {{ $sizes := slice "160x" "320x" "640x" "1280x"}}
        {{ $imagesWebp := slice }}
        {{ $imagesJpg := slice }}

        {{ range $size := $sizes }}
            {{ $imagesWebp = append ($img.Resize (printf "%s webp" $size) ) $imagesWebp }}
        {{ end }}

        {{ range $size := $sizes }}
            {{ $imagesJpg = append ($img.Resize (printf "%s jpg" $size) ) $imagesJpg }}
        {{ end }}

        <picture class="lazy-picture">
            <source
                    type="image/webp"
                    srcset="
                    {{ range $imageR := $imagesWebp }}
                        {{ $imageR.Permalink }} {{ $imageR.Width }}w,
                    {{ end }}
                        "
            />
            <source
                    type="image/jpg"
                    srcset="
                    {{ range $imageR := $imagesJpg }}
                        {{ $imageR.Permalink }} {{ $imageR.Width }}w,
                    {{ end }}
                        "
            />
            <img
                    src="{{ $imageResized.Permalink }}"
                    height="{{ $imageResized.Height }}"
                    width="{{ $imageResized.Width }}"
                    sizes="{{ $opt.size }}"

                    {{ if $opt.loading }}
                    loading="{{ $opt.loading }}"
                    {{ else }}
                    loading="lazy"
                    {{ end }}

                    {{ if $opt.alt }}
                    alt="{{ $opt.alt }}"
                    {{ else }}
                    alt=" "
                    {{ end }}

                    {{ with $opt.id }}
                    id="{{ . }}"
                    {{ end }}

                    {{ with $opt.class }}
                    class="{{ . }}"
                    {{ else }}
                    class="h-full w-full object-cover"
                    {{ end }}

                    {{ with $opt.itemprop }}
                    itemprop="{{ . }}"
                    {{ end }}

                    {{ with $opt.inlineCss }}
                    style="{{ . }}"
                    {{ end }}
            />
        </picture>
    {{ end }}
{{ end }}