<div class="z-50 fixed inset-0 h-screen w-full grid grid-cols-10 pointer-events-none">
    <div class="h-full bg-[#DD0000]/10 text-center py-6 text-4xl">1</div>
    <div class="h-full bg-[#DD0000]/20 text-center py-6 text-4xl">2</div>
    <div class="h-full bg-[#DD0000]/10 text-center py-6 text-4xl">3</div>
    <div class="h-full bg-[#DD0000]/20 text-center py-6 text-4xl">4</div>
    <div class="h-full bg-[#DD0000]/10 text-center py-6 text-4xl">5</div>
    <div class="h-full bg-[#DD0000]/20 text-center py-6 text-4xl">6</div>
    <div class="h-full bg-[#DD0000]/10 text-center py-6 text-4xl">7</div>
    <div class="h-full bg-[#DD0000]/20 text-center py-6 text-4xl">8</div>
    <div class="h-full bg-[#DD0000]/10 text-center py-6 text-4xl">9</div>
    <div class="h-full bg-[#DD0000]/20 text-center py-6 text-4xl">10</div>
</div>