{{ define "main" }}

<section class="intro relative h-screen flex flex-col justify-center bg-primary">
    <img data-s="0.8" class="floating-image absolute -translate-x-1/2 left-[50%] top-[150%] w-[15%]" src="/img/2012/both-portrait-aside-barrier.jpg" alt=" ">
    <img data-s="0.6" class="floating-image absolute left-[10%] top-[15%] w-[20%]" src="/img/2022/both-portrait-aside-barrier.jpg" alt=" ">
    <img data-s="0.9" class="floating-image absolute right-[10%] top-[50%] w-[40%]" src="/img/2012/romane-portrait-on-barrier.jpg" alt=" ">
    <img data-s="1.5" class="z-20 floating-image absolute left-[5%] top-[90%] w-[60%]" src="/img/2012/both-landscape-wall.jpg" alt=" ">

    <h1 class="text-display text-center z-10 mix-blend-difference ">
        <span>Une sœur</span><br>
        <span>& un frere</span>
    </h1>
</section>

<section class="py-24 overflow-hidden">
    <section class="test  relative h-screen flex flex-col justify-center p-24">
        <img src="/img/2012/both-landscape-tourniquet.jpg" alt=" ">
        <h2 class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-display text-center text-primary">Tous les dix ans</h2>
    </section>
</section>

<section class="min-h-screen py-24">
    <div class="container">
        <h2 class="text-body">
            Avril 2012
        </h2>
        <p class="text-body italic">Au sein de la famille Proust</p>
    </div>
</section>
{{ end }}