{{ define "main" }}

<!--<section class="py-24 overflow-hidden">-->
<!--    <section class="container h-[60vh]">-->
<!--    </section>-->
<!--</section>-->


{{ partial "sections/intro" . }}

{{ partial "sections/zoom" . }}

{{ partial "sections/wall" . }}

{{ partial "sections/barrier" . }}


<section class="py-24 overflow-hidden">
    <section class="container">
        <div class="max-w-xl">
            <p>
                À 2032 !
            </p>
        </div>
    </section>
</section>

{{ end }}